body {
  font-family: Helvetica;
  margin: 0;
}
h3 {
  margin: 0;
}
.baner {
  background-color: #00838f;
  color: white;
  padding: 5px;
  font-size: 130%;
  text-align: center;
}
.srodek {
  display: flex;
}
.lewa {
  width: 55%;
  background-color: #efefef;
}
.gora {
  background-color: #efefef;
  height: 150px;
}
.dol {
  background-color: #efefef;
  height: 300px;
}
th,
td {
  border: 1px solid #4fb3bf;
}
table tr {
  margin: auto;
  width: 80%;
}
table th {
  padding: 4px;
}
table {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #52b4bd;
}
.dol table tr:hover {
  background-color: #4fb3bf;
}
.prawa {
  background-color: #4fb3bf;
  width: 45%;
  height: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
img {
  width: 400px;
  box-shadow: 10px 10px 7px dimgray;
  margin: 20px;
}
.stopka {
  background-color: #00838f;
  color: white;
  padding: 5px;
  font-size: 130%;
  text-align: center;
}
